@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@700&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: black
}

.main-header {
    padding: 120px;
}


.main-header p {
    font-weight: 400;
}

.main-header h1,
.main-header p{
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.main-header p {
    font-family: Courier;
}

.text1 {
    background-image: url(img/zetong-li-o0aRmm57u6s-unsplash.jpg);
    background-size: 100% auto;
    vertical-align: middle;
    padding: 120px;
}


.text1 h2 {
    margin-left: 25%;
   font-family: "Spectral";
}

.text1 p {
    margin: 0px 25%;
    padding: 0;
    font-family: "Raleway";
}

.text2 {
    background-image: url(img/zetong-li-79sabz_JrXg-unsplash.jpg);
    background-size: 100% auto;
    vertical-align: middle;
    padding: 120px;
}


.text2 p {
    margin: 0px 25%;
    padding: 0;
    font-family: "Tenor Sans";
}

.text2 h2 {
    margin-left: 25%;
    font-family: "Zen Kaku Gothic New";
}

.text3 {
    background-image: url(img/zetong-li-FDHiFOaG8OA-unsplash.jpg);
    background-size: 100% auto;
    vertical-align: middle;
    padding: 120px;
}

.text3 p {
    margin: 0px 25%;
    padding: 0;
    font-family: "Montserrat";
}

.text3 h2 {
    margin-left: 25%;
    font-family: "Zen Kaku Gothic New";
}